{
  "extends": "rallycoding",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "arrow-body-style": 0,
    "camelcase": 0
  },
  "globals": {
    "__DEV__": true
  }
}
